### Importing Libraries

In [29]:
import mysql.connector
import pandas as pd
from scipy import stats

### Connecting to SQL

In [3]:
fortuneDatabase = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "IshuLogi@9702",
    database = "fortune_companies_db"
)

### Fetching Data from SQL

In [4]:
cursor_func = fortuneDatabase.cursor()
cursor_func.execute("SELECT * FROM fortune_2023_and_2024")
result = cursor_func.fetchall()
# result

### Fetching Column Names

In [5]:
cursor_func.description

[('2023_Rank', 8, None, None, None, None, 1, 32768, 63),
 ('2023_Company', 252, None, None, None, None, 1, 16, 255),
 ('2023_Sector', 252, None, None, None, None, 1, 16, 255),
 ('2023_Industry', 252, None, None, None, None, 1, 16, 255),
 ('2023_Profitable', 252, None, None, None, None, 1, 16, 255),
 ('2023_Founder_is_CEO', 252, None, None, None, None, 1, 16, 255),
 ('2023_FemaleCEO', 252, None, None, None, None, 1, 16, 255),
 ('2023_Growth_in_Jobs', 252, None, None, None, None, 1, 16, 255),
 ('2023_Change_in_Rank', 5, None, None, None, None, 1, 32768, 63),
 ('2023_Gained_in_Rank', 252, None, None, None, None, 1, 16, 255),
 ('2023_Dropped_in_Rank', 252, None, None, None, None, 1, 16, 255),
 ('2023_Newcomer_to_the_Fortune500', 252, None, None, None, None, 1, 16, 255),
 ('2023_Global500', 252, None, None, None, None, 1, 16, 255),
 ('2023_Best_Companies', 252, None, None, None, None, 1, 16, 255),
 ('2023_Number_of_employees', 8, None, None, None, None, 1, 32768, 63),
 ('2023_MarketCap_March31_M', 5, None, None, None, None, 1, 32768, 63),
 ('2023_Revenues_M', 8, None, None, None, None, 1, 32768, 63),
 ('2023_RevenuePercentChange', 5, None, None, None, None, 1, 32768, 63),
 ('2023_Profits_M', 8, None, None, None, None, 1, 32768, 63),
 ('2023_ProfitsPercentChange', 5, None, None, None, None, 1, 32768, 63),
 ('2023_Assets_M', 8, None, None, None, None, 1, 32768, 63),
 ('2023_CEO', 252, None, None, None, None, 1, 16, 255),
 ('2023_HeadquartersCity', 252, None, None, None, None, 1, 16, 255),
 ('2023_HeadquartersState', 252, None, None, None, None, 1, 16, 255),
 ('2023_CompanyType', 252, None, None, None, None, 1, 16, 255),
 ('2023_MarketCap_Updated_M', 5, None, None, None, None, 1, 32768, 63),
 ('2023_Year', 8, None, None, None, None, 1, 32768, 63),
 ('2024_Rank', 8, None, None, None, None, 1, 32768, 63),
 ('2024_Company', 252, None, None, None, None, 1, 16, 255),
 ('2024_Sector', 252, None, None, None, None, 1, 16, 255),
 ('2024_Industry', 252, None, None, None, None, 1, 16, 255),
 ('2024_Profitable', 252, None, None, None, None, 1, 16, 255),
 ('2024_Founder_is_CEO', 252, None, None, None, None, 1, 16, 255),
 ('2024_FemaleCEO', 252, None, None, None, None, 1, 16, 255),
 ('2024_Growth_in_Jobs', 252, None, None, None, None, 1, 16, 255),
 ('2024_Change_in_Rank', 8, None, None, None, None, 1, 32768, 63),
 ('2024_Gained_in_Rank', 252, None, None, None, None, 1, 16, 255),
 ('2024_Dropped_in_Rank', 252, None, None, None, None, 1, 16, 255),
 ('2024_Newcomer_to_the_Fortune500', 252, None, None, None, None, 1, 16, 255),
 ('2024_Global500', 252, None, None, None, None, 1, 16, 255),
 ('2024_Worlds_Most_Admired_Companies',
  252,
  None,
  None,
  None,
  None,
  1,
  16,
  255),
 ('2024_Best_Companies_to_Work_For', 252, None, None, None, None, 1, 16, 255),
 ('2024_Number_of_employees', 8, None, None, None, None, 1, 32768, 63),
 ('2024_MarketCap_March28_M', 5, None, None, None, None, 1, 32768, 63),
 ('2024_Revenues_M', 5, None, None, None, None, 1, 32768, 63),
 ('2024_RevenuePercentChange', 5, None, None, None, None, 1, 32768, 63),
 ('2024_Profits_M', 5, None, None, None, None, 1, 32768, 63),
 ('2024_ProfitsPercentChange', 5, None, None, None, None, 1, 32768, 63),
 ('2024_Assets_M', 5, None, None, None, None, 1, 32768, 63),
 ('2024_CEO', 252, None, None, None, None, 1, 16, 255),
 ('2024_HeadquartersCity', 252, None, None, None, None, 1, 16, 255),
 ('2024_HeadquartersState', 252, None, None, None, None, 1, 16, 255),
 ('2024_CompanyType', 252, None, None, None, None, 1, 16, 255),
 ('2024_MarketCap_Updated_M', 5, None, None, None, None, 1, 32768, 63),
 ('2024_Year', 8, None, None, None, None, 1, 32768, 63)]

### Creating Dataframe

In [6]:
fortuneColumnNames = [i[0] for i in cursor_func.description]

fortuneDataframe = pd.DataFrame(result, columns = fortuneColumnNames)
fortuneDataframe.head(3)

,2023_Rank,2023_Company,2023_Sector,2023_Industry,2023_Profitable,2023_Founder_is_CEO,2023_FemaleCEO,2023_Growth_in_Jobs,2023_Change_in_Rank,2023_Gained_in_Rank,...,2024_RevenuePercentChange,2024_Profits_M,2024_ProfitsPercentChange,2024_Assets_M,2024_CEO,2024_HeadquartersCity,2024_HeadquartersState,2024_CompanyType,2024_MarketCap_Updated_M,2024_Year
0,116.0,3M,Chemicals,Chemicals,yes,no,no,no,-14.0,no,...,-4.5,-6995.0,-221.1,50580.0,William M. Brown,St. Paul,Minnesota,Public,56841.0,2024.0
1,458.0,A-Mark Precious Metals,Wholesalers,Wholesalers: Diversified,yes,no,no,yes,-12.0,no,...,13.8,156.4,18.0,1545.6,Gregory N. Roberts,El Segundo,California,Public,701.0,2024.0
2,780.0,A.O. Smith,Industrials,"Electronics, Electrical Equip.",yes,no,no,no,-34.0,no,...,2.6,556.6,136.1,3213.9,Kevin J. Wheeler,Milwaukee,Wisconsin,Public,13156.0,2024.0

### Concatenating Columns

In [7]:
fortuneDataframe['HeadquartersState'] = fortuneDataframe.apply(
    lambda row: row['2024_HeadquartersState'] 
    if pd.notnull(row['2024_HeadquartersState']) and row['2024_HeadquartersState'] != ''
    else row['2023_HeadquartersState'], axis = 1
)

### Replacing Headquarters State Column Values

In [8]:
renameHeadquartersState = {
    'OR' : 'Oregon',
    'IL' : 'Illinois',
    'WA' : 'Washington',
    'AZ' : 'Arizona',
    'CO' : 'Colorado',
    'FL' : 'Florida',
    'GA' : 'Georgia',
    'NJ' : 'New Jersey',
    'MO' : 'Missouri',
    'VA' : 'Virginia',
    'UT' : 'Utah',
    'CA' : 'California',
    'TN' : 'Tennessee',
    'MI' : 'Michigan',
    'IN' : 'Indiana',
    'DE' : 'Delaware',
    'NY' : 'New York',
    'TX' : 'Texas',
    'OH' : 'Ohio',
    'PA' : 'Pennsylvania',
    'OK' : 'Oklahoma',
    'WI' : 'Wisconsin',
    'CT' : 'Connecticut',
    'NC' : 'North Carolina',
    'MN' : 'Minnesota',
    'SD' : 'South Dakota'
}

fortuneDataframe['HeadquartersState'] = fortuneDataframe['HeadquartersState'].str.strip()

fortuneDataframe['HeadquartersState'] = fortuneDataframe['HeadquartersState'].replace(renameHeadquartersState)
# fortuneDataframe

### Check Unique Values of Headquarters State

In [9]:
print(fortuneDataframe['HeadquartersState'].unique())

['Minnesota' 'California' 'Wisconsin' 'Illinois' 'Ohio' 'New York' 'Texas'
 'Tennessee' 'Georgia' 'Pennsylvania' 'Florida' 'North Carolina'
 'Virginia' 'Massachusetts' 'Washington' 'Idaho' 'Arizona' 'Oklahoma'
 'Indiana' 'Michigan' 'Kansas' 'Missouri' 'New Jersey' 'Rhode Island'
 'Connecticut' 'Colorado' 'Arkansas' 'Delaware' 'Nebraska' 'South Dakota'
 'Nevada' 'Kentucky' 'District Of Columbia' 'Iowa' 'Maryland' 'Oregon'
 'South Carolina' 'Alabama' 'Louisiana' 'Hawaii' 'Maine' 'New Hampshire'
 'North Dakota' 'Puerto Rico' 'Utah' 'Mississippi' 'Vermont' 'Montana']

### Check Null Values

In [10]:
fortuneDataframe.isnull().sum()

2023_Rank                              75
2023_Company                           75
2023_Sector                            75
2023_Industry                          75
2023_Profitable                        75
2023_Founder_is_CEO                    75
2023_FemaleCEO                         75
2023_Growth_in_Jobs                    82
2023_Change_in_Rank                   146
2023_Gained_in_Rank                   146
2023_Dropped_in_Rank                  146
2023_Newcomer_to_the_Fortune500       575
2023_Global500                         75
2023_Best_Companies                    75
2023_Number_of_employees               75
2023_MarketCap_March31_M              116
2023_Revenues_M                        75
2023_RevenuePercentChange              84
2023_Profits_M                         75
2023_ProfitsPercentChange             209
2023_Assets_M                          75
2023_CEO                               76
2023_HeadquartersCity                  75
2023_HeadquartersState                 75
2023_CompanyType                       75
2023_MarketCap_Updated_M              110
2023_Year                              75
2024_Rank                              75
2024_Company                           75
2024_Sector                            75
2024_Industry                          75
2024_Profitable                        75
2024_Founder_is_CEO                    75
2024_FemaleCEO                         75
2024_Growth_in_Jobs                    75
2024_Change_in_Rank                    75
2024_Gained_in_Rank                    75
2024_Dropped_in_Rank                   75
2024_Newcomer_to_the_Fortune500       575
2024_Global500                         75
2024_Worlds_Most_Admired_Companies     75
2024_Best_Companies_to_Work_For        75
2024_Number_of_employees               75
2024_MarketCap_March28_M              116
2024_Revenues_M                        75
2024_RevenuePercentChange              81
2024_Profits_M                         77
2024_ProfitsPercentChange             225
2024_Assets_M                          75
2024_CEO                               75
2024_HeadquartersCity                  75
2024_HeadquartersState                 75
2024_CompanyType                       75
2024_MarketCap_Updated_M              112
2024_Year                              75
HeadquartersState                       0
dtype: int64

### Concatenating Columns

In [11]:
fortuneDataframe['Company'] = fortuneDataframe.apply(
    lambda row: row['2024_Company']
    if pd.notnull(row['2024_Company']) and row['2024_Company'] != ''
    else row['2023_Company'], axis = 1
)

In [12]:
fortuneDataframe['Sector'] = fortuneDataframe.apply(
    lambda row: row['2024_Sector']
    if pd.notnull(row['2024_Sector']) and row['2024_Sector'] != ''
    else row['2023_Sector'], axis = 1
)

In [13]:
fortuneDataframe['Industry'] = fortuneDataframe.apply(
    lambda row: row['2024_Industry']
    if pd.notnull(row['2024_Industry']) and row['2024_Industry'] != ''
    else row['2023_Industry'], axis = 1
)

In [14]:
fortuneDataframe['CompanyType'] = fortuneDataframe.apply(
    lambda row: row['2024_CompanyType']
    if pd.notnull(row['2024_CompanyType']) and row['2024_CompanyType'] != ''
    else row['2023_CompanyType'], axis = 1
)

### Dropping Columns

In [15]:

fortuneDataframe = fortuneDataframe.drop(['2023_HeadquartersCity', '2023_HeadquartersState', '2024_HeadquartersCity', '2024_HeadquartersState', 
                                          '2023_Company', '2024_Company', '2023_Sector', '2024_Sector', '2023_Industry', '2024_Industry', 
                                          '2023_CompanyType', '2024_CompanyType'], axis = 1)

In [16]:

fortuneDataframe[['2023_Rank', '2024_Rank', '2023_Year', '2024_Year', '2023_Number_of_employees', '2024_Number_of_employees', 
                  '2023_MarketCap_Updated_M', '2024_MarketCap_Updated_M', '2023_Change_in_Rank', 
                  '2024_Change_in_Rank']] = fortuneDataframe[['2023_Rank', '2024_Rank', '2023_Year', 
                                                              '2024_Year', '2023_Number_of_employees', '2024_Number_of_employees', 
                                                              '2023_MarketCap_Updated_M', '2024_MarketCap_Updated_M',  
                                                              '2023_Change_in_Rank', '2024_Change_in_Rank']].fillna(0).astype('int')

### Formatting Numerical Values

In [17]:

def format_float(value):
    if pd.isna(value):
        return value
    roundOffVal = round(value, 0)
    return int(roundOffVal) if roundOffVal.is_integer() else roundOffVal


columns_to_format = ["2023_MarketCap_March31_M", "2023_Revenues_M", "2023_RevenuePercentChange", "2023_Profits_M", "2023_ProfitsPercentChange", 
                     "2023_Assets_M", "2024_MarketCap_March28_M", "2024_Revenues_M", "2024_RevenuePercentChange", 
                     "2024_Profits_M", "2024_ProfitsPercentChange", "2024_Assets_M"]

for columns in columns_to_format:
    fortuneDataframe[columns] = fortuneDataframe[columns].apply(format_float)

fortuneDataframe[["2023_MarketCap_March31_M", "2023_Revenues_M", "2023_RevenuePercentChange", "2023_Profits_M", "2023_ProfitsPercentChange", 
                     "2023_Assets_M", "2024_MarketCap_March28_M", "2024_Revenues_M", "2024_RevenuePercentChange", 
                     "2024_Profits_M", "2024_ProfitsPercentChange", "2024_Assets_M"]] = fortuneDataframe[["2023_MarketCap_March31_M", "2023_Revenues_M", "2023_RevenuePercentChange", "2023_Profits_M", "2023_ProfitsPercentChange", 
                     "2023_Assets_M", "2024_MarketCap_March28_M", "2024_Revenues_M", "2024_RevenuePercentChange", 
                     "2024_Profits_M", "2024_ProfitsPercentChange", "2024_Assets_M"]].fillna(0).astype('int')

### Rearranging the Columns

In [19]:
col_rearrange = fortuneDataframe.columns.to_list()

first_columns = ['Company', 'Sector', 'Industry', 'CompanyType', 'HeadquartersState']

new_column_order = [col for col in col_rearrange if col not in first_columns]

fortuneColumnRearrange = first_columns + new_column_order
fortuneDataframe = fortuneDataframe[fortuneColumnRearrange]

fortuneDataframe

,Company,Sector,Industry,CompanyType,HeadquartersState,2023_Rank,2023_Profitable,2023_Founder_is_CEO,2023_FemaleCEO,2023_Growth_in_Jobs,...,2024_Number_of_employees,2024_MarketCap_March28_M,2024_Revenues_M,2024_RevenuePercentChange,2024_Profits_M,2024_ProfitsPercentChange,2024_Assets_M,2024_CEO,2024_MarketCap_Updated_M,2024_Year
0,3M,Chemicals,Chemicals,Public,Minnesota,116,yes,no,no,no,...,85000,58695,32681,-4,-6995,-221,50580,William M. Brown,56841,2024
1,A-Mark Precious Metals,Wholesalers,Wholesalers: Diversified,Public,California,458,yes,no,no,yes,...,421,701,9287,14,156,18,1546,Gregory N. Roberts,701,2024
2,A.O. Smith,Industrials,"Electronics, Electrical Equip.",Public,Wisconsin,780,yes,no,no,no,...,12000,13156,3853,3,557,136,3214,Kevin J. Wheeler,13156,2024
3,Abbott Laboratories,Health Care,Medical Products and Equipment,Public,Illinois,99,yes,no,no,yes,...,114000,197221,40109,-8,5723,-18,73214,Robert B. Ford,179113,2024
4,AbbVie,Health Care,Pharmaceuticals,Public,Illinois,73,yes,no,no,no,...,50000,322435,54318,-6,4863,-59,134711,Robert A. Michael,296719,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,Verisk,Business Services,Financial Data Services,Public,New Jersey,0,None,None,None,None,...,7500,33801,2728,-10,615,-36,4366,Lee M. Shavel,33801,2024
1071,WEX,Business Services,Financial Data Services,Public,Maine,0,None,None,None,None,...,7200,9913,2548,8,267,32,13882,Melissa D. Smith,9913,2024
1072,Wintrust Financial,Financials,Commercial Banks,Public,Illinois,0,None,None,None,None,...,5521,6417,3327,51,623,22,56260,Timothy S. Crane,6417,2024
1073,Woodward,Aerospace & Defense,Aerospace & Defense,Public,Colorado,0,None,None,None,None,...,8800,9293,2915,22,232,35,4010,Charles Blankenship Jr.,9293,2024
1074,Worthington Enterprises,Materials,Metals,Public,Ohio,0,None,None,None,None,...,8200,3111,4916,-6,256,-32,3651,B. Andrew Rose,3111,2024

In [20]:
fortuneDataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 48 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Company                             1075 non-null   object
 1   Sector                              1075 non-null   object
 2   Industry                            1075 non-null   object
 3   CompanyType                         1075 non-null   object
 4   HeadquartersState                   1075 non-null   object
 5   2023_Rank                           1075 non-null   int32
 6   2023_Profitable                     1000 non-null   object
 7   2023_Founder_is_CEO                 1000 non-null   object
 8   2023_FemaleCEO                      1000 non-null   object
 9   2023_Growth_in_Jobs                 993 non-null    object
 10  2023_Change_in_Rank                 1075 non-null   int32
 11  2023_Gained_in_Rank                 929 non-null    object
 12  2023_Dropped_in_Rank                929 non-null    object
 13  2023_Newcomer_to_the_Fortune500     500 non-null    object
 14  2023_Global500                      1000 non-null   object
 15  2023_Best_Companies                 1000 non-null   object
 16  2023_Number_of_employees            1075 non-null   int32
 17  2023_MarketCap_March31_M            1075 non-null   int32
 18  2023_Revenues_M                     1075 non-null   int32
 19  2023_RevenuePercentChange           1075 non-null   int32
 20  2023_Profits_M                      1075 non-null   int32
 21  2023_ProfitsPercentChange           1075 non-null   int32
 22  2023_Assets_M                       1075 non-null   int32
 23  2023_CEO                            999 non-null    object
 24  2023_MarketCap_Updated_M            1075 non-null   int32
 25  2023_Year                           1075 non-null   int32
 26  2024_Rank                           1075 non-null   int32
 27  2024_Profitable                     1000 non-null   object
 28  2024_Founder_is_CEO                 1000 non-null   object
 29  2024_FemaleCEO                      1000 non-null   object
 30  2024_Growth_in_Jobs                 1000 non-null   object
 31  2024_Change_in_Rank                 1075 non-null   int32
 32  2024_Gained_in_Rank                 1000 non-null   object
 33  2024_Dropped_in_Rank                1000 non-null   object
 34  2024_Newcomer_to_the_Fortune500     500 non-null    object
 35  2024_Global500                      1000 non-null   object
 36  2024_Worlds_Most_Admired_Companies  1000 non-null   object
 37  2024_Best_Companies_to_Work_For     1000 non-null   object
 38  2024_Number_of_employees            1075 non-null   int32
 39  2024_MarketCap_March28_M            1075 non-null   int32
 40  2024_Revenues_M                     1075 non-null   int32
 41  2024_RevenuePercentChange           1075 non-null   int32
 42  2024_Profits_M                      1075 non-null   int32
 43  2024_ProfitsPercentChange           1075 non-null   int32
 44  2024_Assets_M                       1075 non-null   int32
 45  2024_CEO                            1000 non-null   object
 46  2024_MarketCap_Updated_M            1075 non-null   int32
 47  2024_Year                           1075 non-null   int32
dtypes: int32(22), object(26)
memory usage: 310.9+ KB

In [34]:
# fortuneDataframe.isnull().sum()

In [35]:
# fortuneDataframe.to_csv("C:/Users/Logiya Vidhyapathy/Documents/KGISL Data Science/Project Files and Documents/MileStone 2 Project/fortune.csv", index = False)

### Statistical Analysis

### Paired T Test

In [33]:
profit_2023 = fortuneDataframe['2023_Profits_M']
profit_2024 = fortuneDataframe['2024_Profits_M']

t_statistic, p_value = stats.ttest_rel(profit_2023, profit_2024)

print(f"t_statistic: {round(t_statistic, 2)}")
print(f"p_value: {round(p_value, 2)}")

t_statistic: -0.92
p_value: 0.36

- __Null Hypothesis (H₀):__ There is no significant difference between 2023_Profits and 2024_Profits.
- __Alternate Hypothesis (H₁):__ There is a significant difference between 2023_Profits and 2024_Profits.

Therefore, we __reject the Null Hypothesis (0.36 > 0.05)__ (i.e. we fail to reject the null hypothesis)